*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    min-height: 600px;
}
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    

}
.sidebar-left{
    width: 30%;
}
.login{
   width: 90%;
   height: 620px;
 background-color:#A43F49;
   color: white;
   display: flex;
   flex-direction: column;
}
ul li{
list-style: none;
text-align: center;
padding-top: 15px;
}

.about{
    height: 45px;
    background: whitesmoke;
    color: #A43F49;
     font-size: 15px;
     padding-top: -10px;
   
   
}
.icons ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    
}
.icons ul li{
    list-style: none;
    align-items: center;
    padding: 10px;
   
}
.sidebar-right{
    width: 70%;
   
   

}
.horizontal{
    width: 60px;
    border: 3px solid maroon;
    text-align: center;
    margin: 0 auto;
}
.About-me{
    
    padding-top: 70px;
    color: whitesmoke;
    text-align: center;
}
.firstdiv{
    display: flex;
    width: 100%;
     margin: 20px;
    color: whitesmoke;
}
.first-one{
    width: 50%;
}
.photo{
  
    height: 200px;
    width: 350px;
    
}
.first-two{
    width: 50%;
  padding-top: 9px;
    font-size: 15px;
   
}
.first-two h2, p{
    padding: 8px;
}
.button{
    height: 35px;
    width: 100px;
    background-color: whitesmoke;
    color: maroon;
    margin-left: 5px;
}
.chobi{
    height: 200px;
   
}
.seconddiv{
    width: 100%;
}


.second-main{
   width: 100%;
   margin: 20px 0 0 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,250px);
   gap: 20px;
   box-sizing: border-box;
  
}
.items{
    border-radius: 12px;
    margin: 5px;
    color: white;
    padding: 40px ;
   background-color: #666567;
    
}
.icon{
    height: 50px;
    width: 50px;
}
.hrr{
    margin-left:50px ;
    width: 100%;
}
.thirddiv{
    width: 100%;
}
.nature{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}
.nature li{
    padding: 20px;
}
.nature li a:hover{
background-color: lightgray;
padding: 10px;

display: block;

}
.third-main{
    width: 100%;
   margin: 20px 0 0 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(3,200px);
   gap: 20px;
   box-sizing: border-box;
   height: 700px;
}

.thirdpic{ 
    height: 200px;
    width: 320px;
}
.thirdhr{
    width: 320px;
    margin-top: 7px;
    border: 1px solid lightgray;
}
.lastdiv{
    width: 80%;
   color: white;
   margin: 0 auto;
   min-height: 600px;
}
input[type=text]{
    width: 39%;
    padding: 12px 20px;
   margin-top: 30px;
   margin-left: 30px;
    display: inline-block;
    height: 35px;
    box-sizing: border-box;
    background-color: #BFBFBF;
}


input[type=email]  {
    width: 84%;
    padding: 12px 20px;
   margin-top: 20px;
   margin-left: 30px;
   
    
    box-sizing: border-box;
    height: 40px;
    background-color: #BFBFBF;
  }
  .input1{
      height: 80px;
      width: 84%;
      margin-top: 20px;
     margin-left: 30px;
     padding: 12px 20px;
     background-color: #BFBFBF;
  }
input[type=submit] { 
    width: 20%;
    padding: 12px 20px;
  margin-left: 35%; 
    display: inline-block;
    height: 35px;
    box-sizing: border-box;
    background-color: #BFBFBF;
    color: maroon;
    font-weight: 600;
   
}
    



